html, body	{
	width: 100%;
	margin: 0;
	font-family: 'Nova Flat';
	background-color: black;
}

*{
	margin:  0;
	padding:  0;
	box-sizing:  border-box;
}

body{
	position:  relative;
	min-height:  100vh;
	width: 100%;
	overflow:  auto;
}

.input_sliders {
	font-weight: bold;
	font-size: 1vw;
	background-color: #FFCB05;
	height: 30%;
	width: 30%;
	position: absolute;
	top: 65%;
	left: 52.5%;
	border-radius: 25px;
	padding: 10;
	color: black;
}

.output_sliders {
	background-color: #18191a;
	border-radius: 25px;
	padding: 10;
	top: 22.5%;
	left: 84%;
	width: 13.5%;
	height: 72.5%;
	position: absolute;
}

.average_output {
	align-items: center;
	text-align: center;
	transform: rotate(-90deg);
	top: 250px;
	right: -117.5px;
	/*left: -200px;*/
	width: 500px;
	/*height: 10%;*/
	color: #FFCB05;
	background: #18191a;
	position: absolute;
	/*background: green;*/
}

.average_output_scale {
	color: white;
	font-size: 20;
	background: #18191a;
	top: 20px;
	height: 500px;
	right: 150px;
	width: 40px;
	position: absolute;
	/*background: red;*/
}

#output_1 {
	width: 100%;
}

.main_info	{
	position: absolute;
	color: darkblue;
	font-size: 20;
	background-color: white;
	border-radius: 25px;
	padding: 10;
	width: 30%;
	height: 40%;
	top: 22.5%;
	left: 52.5%;
}

.description {
	top: 5%;
	position: absolute;
}

#input_slider_container {
	padding: 5;
	background-color: #18191a;
	border-radius: 15px;
	position: absolute;
	top: 12.5%;
	width: 95%;
	height: 82.5%;
	overflow-y: auto;
}

.slider {
	width: 60%;
	height: 15%;
	float: right;
	position: relative;
	float: right;
	background: red;
	/*align-items: center;*/
}

.slider_format {
	width: 35%;
	color: white;
	height: 15%;
	position: relative;
	float: left;
	text-align: center;
	align-items: center;
}


.final_info	{
	background-color: black;
	color: white;
	padding: 7.5;
	font-size: 1.05vw;
	border-radius: 15px;
	height: 90%;
	overflow-y: auto;
}

.to-dos {
	top: 30px;
	position: relative;
}

.cancellation	{
	left: 82.5%;
	top: 90px;
	width: 21.5%;
	position: absolute;
}

.assesments_so_far	{
	font-size: 20;
	top: 150px;
	position: absolute;
}

.enter	{
	top: 10px;
	border-radius: 20px;
	position: relative;
	font-size: 20;
}

.info	{
	font-size: 17.5;
	padding: 2.5;
	color: white;
	margin: 10px;
	top: 50px;
	height: 10%;
	border-radius: 10px;
	position: relative;
	background-color: black
}

#amount	{
	background-color: black;
	border-radius: 5px;
	font-size: 1.1vw;
	padding: 2.5;
	color: white;
	width: 45%;
	height: 30%;
	float: left;
	display: inline-block;
}

#required {
	height: 30%;
	width: 45%;
	font-size: 1.1vw;
	padding: 2.5;
	float: right;
	background-color: black;
	display: inline-block;
}

.cut_off_percent {
	text-align: center;
	align-items: center;
	height: 10%;
	width: 40%;
	float: left;
	display: inline-block;
	background-color: black;
	color: #FFCB05;
}

.earn_the_grade {
	text-align: center;
	align-items: center;
	height: 10%;
	width: 50%;
	float: right;
	display: inline-block;
	background-color: black;
	color: #FFCB05;
}

.complete {
	text-align: center;
	color: #FFCB05;
	font-size: 2vw;
}

#amount_info	{
	align-items: center;
	width: 100%;
	/*background-color: green;*/
}

.logo_pts	{
	margin: 10px;
	position: relative;
	top: 50px;
}

#work_so_far	{
	color: white;
	width: 100%;
	height: 25%;
	background-color: black;
	/*background-color: #FFCB05;*/
	border-radius: 10px;
	overflow: auto;
}

.work_button	{
	font-family: 'Nova Flat';
	font-size: 15;
	color: white;
	border-color: white;
	width: 100%;
	height: 15%;
	background-color: black;
	border-radius: 10px;
}

.work_button:hover	{
	color: black;
	background-color: red;
	cursor: pointer;
}

.categoryValues	{
	margin: 10px;
}

.category	{
	font-size: 20;
	border-radius: 25px;
	left: 20%;
	top: 5%;
	position: absolute;
	background-color: #18191a;
	width: 30%;
	height: 90%;
	color: #FFCB05;
	overflow: auto;
}

.categoryLetters	{
	margin: 10px;
}

.heading	{
	top: 5%;
	padding: 10;
	border-radius: 25px;
	font-size: 3.25vw;
	color: darkblue;
	background-color: white;
	position: relative;
	display: flex;
	left: 52.5%;
	height: 15%;
	width: 45%;
}


.menu_button	{
	width: 30%;
	height: 40%;
	top: -22.5%;
	font-family: 'Nova Flat';
	position: relative;
	border-radius: 25px;
	color: black;
	background-color: white;
	border-color: darkblue;
}

.menu_button:hover	{
	cursor: pointer;
	color: white;
	background-color: black;
}

.stats {
	font-size: 17;
	top: 6%;
	/*left: 5%;*/
	width: 100%;
	height: 30%;
	border-radius: 25px;
	padding: 10;
	position: relative;
	background-color: #18191a;
}

#categoryTitle	{
	background-color: black;
	color: white;
	height: 15%;
	border-radius: 10px;
	padding: 5;
}

.calc_info	{
	top: 3%;
	height: 90%;
	color: white;
	padding: 10;
	border-radius: 10px;
	position: relative;
	background-color: black;
	overflow: auto;
}

.sidebar {
	position:  fixed;
	top:  0;
	left: 0;
	height:  50%;
	width:  16%;
	background: #18191a;
	/*background: white;*/
	border-radius: 0px 15px 15px 0px;
	padding:  6px 14px;
	overflow-y: auto;
	overflow-x: hidden;
}

.sidebar .logo_content .logo {
	font-size: 2vw;
	display: flex;
	color:  white;
	height: 5%;
	width: 100%;
	align-items: center;
}

.bottom_bar {
	font-size: 1.5vw;
	position: fixed;
	padding: 10;
	border-radius: 0px 15px 15px 0px;
	bottom: 0;
	width: 16%;
	height: 50%;
	left: 0;
	background-color: #FFCB05;
	color: black;
}

#cut_offs_container {
	/*left: 5%;*/
	top: 1.5%;
	width: 95%;
	height: 77.5%;
	border-radius: 10px;
	color: white;
	position: relative;
	background-color: #18191a;
	overflow: auto;
}

.cut_off_button	{
	font-family: 'Nova Flat';
	color: #FFCB05;
	border-color: white;
	font-size: 1.2vw;
	background-color: black;
	border-radius: 10px;
	width: 100%;
	height: 10%;
}

.cut_off_button:hover {
	cursor: pointer;
	background-color: red;
	color: black;
}

.input_cut {
	font-size: 1vw;
}

#letter {
	width: 15%;
	height: 7.5%;
	background-color: #18191a;
	color: white;
	border-color: black;
}

#cut_off {
	width: 15%;
	height: 7.5%;
	background-color: #18191a;
	color: white;
	border-color: black;
}

.made_by {
	border-radius: 5px;
	color: black;
	font-size: 0.75vw;
	position: relative;
	top: 5%;
}

#inputField	{
	top: 12.5px;
	position: relative;
	font-size: 15;
	width: 80%;
	border-radius: 5px;
	height: 8%;
/*	background-color: #18191a;
	color: white;
	border-color: black;*/
}

#addToDo	{
	color: white;
	left: 2.5%;
	border-color: #18191a;
	border-radius: 25px;
	background-color: #000000;
	position: relative;
	top: 12.5px;
	height: 35;
	width: 25;
}

#addToDo:hover	{
	cursor: pointer;
	color: black;
	background-color: white;
	border-color: black;
}

#addCut	{
	color: white;
	left: 2%;
	border-color: white;
	border-radius: 25px;
	background-color: black;
	position: relative;
	height: 7.5%;
	width: 10%;
	align-items:  center;
}

#addCut:hover {
	cursor: pointer;
	color: black;
	background-color: white;
	border-color: black;
}

.input_vals {
	width: 50px;
}

.button_format	{
	align-items:  center;
	border-radius: 25px;
	font-size: 12;
	color: white;
	border-color: white;
	text-align: center;
	/*top: 10;*/
	margin: 10;
	padding: 10;
	width: 80%;
	height: 40;
	position:  relative;
	font-family:  'Nova Flat';
	background-color: #18191a;
}

.cancel_button	{
	width: 30%;
	color: transparent;
	position: relative;
	border-radius: 10px;
	margin: 10;
	/*padding: 10;*/
	background-color: #18191a;
	height: 40;
	font-family:  'Nova Flat';
	border-color: white;
	text-align: left;
}

.mini_button	{
	color: white;
	width: 15px;
	border-color: white;
	background-color: #000000;
	border-radius: 10px;
}

.cancel_button:hover  {
	cursor: pointer;
	background-color: red;
}

.mini_button:hover	{
	cursor: pointer;
	background-color: #FFCB05;
	color: black;
}

.button_format:hover	{
	cursor: pointer;
	color: darkblue;
	/*background-color: #FFCB05;*/
	background-color: white;
	border-color: #FFCB05;
}